
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #11111b;
    color: #cdd6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #313244;
    padding: 60px;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

br {
    margin: 10px;
}

input {
    background-color: #585b70;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #cdd6f4;
    font-weight: bold;
    font-size: large;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #cba6f7;
    color: #11111b;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}